# **Individual Plan**

### Sihan Liu 46792420

https://github.com/charlieliu516/dsic100.git

## **Importing data**

In [10]:
library(tidyverse)
url = 'https://drive.google.com/uc?export=download&id=1Nkmsri93Yq5Ind2ztUNSQlzEle0Xzde0'
players <- read_csv(url)
head(players)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

In [11]:
url2 = 'https://drive.google.com/uc?export=download&id=1q0FAgI3CWPZTFz8lLgFK6WOQNOfsYrGS'
sessions <- read_csv(url2)
head(sessions)

Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time       end_time         original_start_time original_end_time
1 30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2 17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3 25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
4 25/07/2024 03:22 25/07/2024 03:58 1.72188e+12         1.72188e+12
5 25/05/2024 16:01 25/05/2024 16:12 1.71665e+12         1.71665e+12
6 23/06/2024 15:08 23/06/2024 17:10 1.71916e+12         1.71916e+12

In [17]:
distinct(players, experience)
distinct(players, subscribe)
distinct(players, gender)
players |>
  summarize(
    max_played = max(played_hours, na.rm = TRUE),
    min_played = min(played_hours, na.rm = TRUE),
    max_age    = max(Age, na.rm = TRUE),
    min_age    = min(Age, na.rm = TRUE))

  experience
1 Pro
2 Veteran
3 Amateur
4 Regular
5 Beginner

  subscribe
1  TRUE
2 FALSE

  gender
1 Male
2 Female
3 Non-binary
4 Prefer not to say
5 Agender
6 Two-Spirited
7 Other

  max_played min_played max_age min_age
1 223.1      0          58      9

## **Data Description**

There are 196 observations in the players dataset and 1535 observations in the sessions dataset.

### players dataset

+ experience (chr) — describes the player’s experience level, with possible values: Pro, Veteran, Amateur, Regular, and Beginner.

+ subscribe (lgl) — indicates whether the player has subscribed to receive game updates; values are TRUE or FALSE.

+ played_hours (dbl) — total number of gameplay hours recorded for each player.

+ name (chr) — the player’s name (non-unique identifier, for reference).

+ gender (chr) — describes the player’s gender identity (e.g., Male, Female, Non-binary, Agender, Other, Two-Spirited, Prefer not to say).

+ Age (dbl) — player’s age in years.

### sessions dataset

+ hashedEmail (chr) — hashed email address used to link session data to the corresponding player in the players dataset.

+ start_time (chr) — the recorded start time of a game session (in dd/mm/yyyy hh:mm format).

+ end_time (chr) — the recorded end time of the same session.

+ original_start_time (dbl) — the timestamp representation of start_time (in milliseconds since epoch).

+ original_end_time (dbl) — the timestamp representation of end_time (in milliseconds since epoch).

## **potential issues**

1.Categorical variables such as experience and gender are non-numeric.
They will need to be encoded before being used as predictors in a model.  
2.played_hours and Age may contain missing values (NA), which need to be handled before statistical analysis.  
3.sessions dataset uses time columns (start_time, end_time) stored as characters instead of datetime objects.